.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  padding: 30px;
  height: 70vh;
}

#contenedor-perfil {
  width: 50%;
}

#contenedor-perfil img {
  width: 100%;
  border-radius: 50%;
}

#contenedor-perfil  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


